In [92]:
import pandas as pd
import pandas_market_calendars as mcal
import csv
from datetime import datetime, timedelta
import numpy as np
import datetime as dt
from pandas_datareader import data as pdr
import yfinance as yf
import scipy as sc
yf.pdr_override()

In [149]:
def get_trading_days(start_date, end_date):
    nyse = mcal.get_calendar('NYSE')
    schedule = nyse.schedule(start_date=start_date, end_date=end_date)
    trading_days = nyse.valid_days(start_date=schedule.index[0], end_date=schedule.index[-1])
    def makethisdate(date):
        new = date.date()
        new = str(new)
        new = pd.to_datetime(new)
        return new
    trading_days = list(map(makethisdate, trading_days))
    trading_days = pd.DataFrame(trading_days, columns=["dates"])
    trading_days['weekday'] = trading_days['dates'].dt.dayofweek
    trading_days["end_of_week"] = np.where(trading_days['dates'].dt.dayofweek == 4, True,False)
    trading_days["end_of_month"] = np.where(trading_days['dates'].dt.month != trading_days['dates'].shift(-1).dt.month, True,False)
    
    today = dt.date.today()
    csv_path = f"csv_files/tade_dates_{today}.csv"
    trading_days.to_csv(csv_path)
    
    return trading_days

          dates  weekday  end_of_week  end_of_month
2727 2023-03-30        3        False         False
2728 2023-03-31        4         True          True
2729 2023-04-03        0        False         False
2730 2023-04-04        1        False         False
2731 2023-04-05        2        False         False
2732 2023-04-06        3        False         False
2733 2023-04-10        0        False         False
2734 2023-04-11        1        False         False
2735 2023-04-12        2        False         False
2736 2023-04-13        3        False         False
2737 2023-04-14        4         True         False
2738 2023-04-17        0        False         False
2739 2023-04-18        1        False         False
2740 2023-04-19        2        False         False
2741 2023-04-20        3        False         False
2742 2023-04-21        4         True         False
2743 2023-04-24        0        False         False
2744 2023-04-25        1        False         False
2745 2023-04-26        2        False         False
2746 2023-04-27        3        False         False
2747 2023-04-28        4         True          True
2748 2023-05-01        0        False         False
2749 2023-05-02        1        False         False
2750 2023-05-03        2        False         False
2751 2023-05-04        3        False         False
2752 2023-05-05        4         True         False
2753 2023-05-08        0        False         False
2754 2023-05-09        1        False         False
2755 2023-05-10        2        False         False
2756 2023-05-11        3        False         False
2757 2023-05-12        4         True         False
2758 2023-05-15        0        False         False
2759 2023-05-16        1        False         False
2760 2023-05-17        2        False         False
2761 2023-05-18        3        False         False
2762 2023-05-19        4         True         False
2763 2023-05-22        0        False         False
2764 2023-05-23        1        False         False
2765 2023-05-24        2        False         False
2766 2023-05-25        3        False          True

In [ ]:
def get_trading_days(start_date, end_date):
    nyse = mcal.get_calendar('NYSE')
    schedule = nyse.schedule(start_date=start_date, end_date=end_date)
    trading_days = nyse.valid_days(start_date=schedule.index[0], end_date=schedule.index[-1])
    return trading_days

def generate_csv(start_date, end_date, output_file):
    trading_days = get_trading_days(start_date, end_date)
    
    with open(output_file, 'w', newline='') as file:
        writer = csv.writer(file)
        writer.writerow(['Date', 'FirstDayOfWeek', 'FirstDayOfMonth'])
        
        prev_week = None
        prev_month = None
        
        for day in trading_days:
            date = day.strftime('%Y-%m-%d')
            
            week = day.weekday()
            first_day_of_week = prev_week != week
            prev_week = week
            
            month = day.month
            first_day_of_month = prev_month != month
            prev_month = month
            
            writer.writerow([date, first_day_of_week, first_day_of_month])


current_year = datetime.now().year
start_date = datetime(current_year, 1, 1)

In [3]:
stocks = ['TSLA','XOM']
end1 = dt.date.today()
start1 = end1 - dt.timedelta(days=11*365)
start = start1.strftime('%Y-%m-%d')
end = end1.strftime('%Y-%m-%d')

stockdata = pdr.get_data_yahoo(stocks, start=start, end=end)
stockdata = stockdata['Adj Close']

returns = stockdata.pct_change().dropna(how='all').dropna(axis=1)

[*********************100%***********************]  2 of 2 completed

In [90]:
# Import stock prices into temp table
temp_table = pd.DataFrame()
temp_table['price'] = stockdata[['TSLA']]

# Convert datetimes to dates
dates = temp_table['price'].index.tolist()
def makethisdate(date):
    new = date.date()
    new = str(new)
    new = pd.to_datetime(new)
    return new
dates = list(map(makethisdate, dates))
temp_table.index = dates

# Get list of months
month_df = pd.read_csv("days.csv")
month_df = pd.DataFrame(month_df)
month_df=month_df[month_df['FirstDayOfMonth']==True][['Date']]

# filter dates to only include end of month
temp_table = temp_table[temp_table.index.isin(month_df["Date"])]

display(temp_table.tail(10))

                 price
2022-04-01  361.529999
2022-06-01  246.789993
2022-07-01  227.263336
2022-08-01  297.276672
2022-09-01  277.160004
2022-11-01  227.820007
2022-12-01  194.699997
2023-02-01  181.410004
2023-03-01  202.770004
2023-05-01  161.830002

In [60]:
month_df.index

Index(['2003-07-01', '2003-08-01', '2003-10-01', '2003-12-01', '2004-03-01',
       '2004-04-01', '2004-06-01', '2004-07-01', '2004-09-01', '2004-10-01',
       ...
       '2022-04-01', '2022-06-01', '2022-07-01', '2022-08-01', '2022-09-01',
       '2022-11-01', '2022-12-01', '2023-02-01', '2023-03-01', '2023-05-01'],
      dtype='object', name='Date', length=156)

In [167]:


# Get list of months
month_df = pd.read_csv("days.csv")



end1 = dt.date.today()
start1 = end1 - dt.timedelta(days=10*365)
start = start1.strftime('%Y-%m-%d')
end = end1.strftime('%Y-%m-%d')

temp_table = temp_table[start:end]
temp_table.tail(10)

C:\Users\micha\AppData\Local\Temp\ipykernel_16556\2490471752.py:4: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  temp_table['monthly_return'] = temp_table['return'].groupby(temp_table.index.month).apply(lambda x: np.cumprod(1 + x) - 1).round(4)

,price,return,monthly_return,monthly_std,4sma_pct_price,100sma_pct_price,bolling_top_pct,bolling_bot_pct,y
Date,,,,,,,,,
2023-05-09 00:00:00-04:00,169.149994,-0.015368,0.2683,0.038955,-0.006503,0.001361,0.142010,-0.121657,NaN
2023-05-10 00:00:00-04:00,168.539993,-0.003606,0.2637,0.038955,0.007980,0.005682,0.136874,-0.117822,NaN
2023-05-11 00:00:00-04:00,172.080002,0.021004,0.2903,0.038955,-0.009821,-0.014170,0.102072,-0.132328,NaN
2023-05-12 00:00:00-04:00,167.979996,-0.023826,0.2595,0.038955,0.008677,0.010949,0.121938,-0.110914,NaN
2023-05-15 00:00:00-04:00,166.350006,-0.009703,0.2473,0.038955,0.014352,0.021845,0.118464,-0.098419,NaN
2023-05-16 00:00:00-04:00,166.520004,0.001022,0.2486,0.038955,0.010284,0.022527,0.102248,-0.094354,NaN
2023-05-17 00:00:00-04:00,173.860001,0.044079,0.3036,0.038955,-0.029808,-0.018555,0.039419,-0.123185,NaN
2023-05-18 00:00:00-04:00,176.889999,0.017428,0.3264,0.038955,-0.033835,-0.032452,0.011237,-0.131641,NaN
2023-05-19 00:00:00-04:00,180.139999,0.018373,0.3507,0.038955,-0.032128,-0.046745,-0.007655,-0.146887,NaN
2023-05-22 00:00:00-04:00,188.869995,0.048462,0.4162,0.038955,-0.047281,-0.086583,-0.030448,-0.196938,NaN

In [172]:
# Packages related to machine learning
#for nueral networs
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dropout
import tensorflow.keras.backend as K

# fix random seed for same reproducibility as my results due to stochastic nature of start point
K.clear_session()
tf.keras.backend.clear_session()
np.random.seed(42)
tf.random.set_seed(42)

In [210]:
sc = MinMaxScaler(feature_range=(0,1))
X = temp_table.drop(columns=['y'])
y = temp_table['y']

end1 = dt.date.today() - dt.timedelta(days=60)
start1 = end1 - dt.timedelta(days=5*365)
start = start1.strftime('%Y-%m-%d')
end = end1.strftime('%Y-%m-%d')

train = temp_table[start:end]
test = temp_table[end:]

scaler = sc.fit(train)
train_scaled = scaler.transform(train)
test_scaled = scaler.transform(test)

y_train_scaled = train_scaled[:,-0]
X_train_scaled = train_scaled[:,:9]
y_test_scaled = test_scaled[:,:-0]
X_test_scaled = test_scaled[:,:9]

y_train_scaled = y_train_scaled
X_train_scaled = X_train_scaled
y_test_scaled = y_test_scaled
X_test_scaled = X_test_scaled

X_train_scaled, X_test_scaled = np.array(X_train_scaled), np.array(X_test_scaled)
X_train_scaled = np.reshape(X_train_scaled, (X_train_scaled.shape[0], X_train_scaled.shape[1],1))
X_test_scaled = np.reshape(X_test_scaled, (X_test_scaled.shape[0], X_test_scaled.shape[1],1))

y_train_scaled, y_test_scaled = np.array(y_train_scaled), np.array(y_test_scaled)

In [211]:
model = Sequential()
model.add(LSTM(units=50,return_sequences=True,input_shape=(X_train_scaled.shape[1], 1)))
model.add(Dropout(0.2))
model.add(LSTM(units=50,return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50,return_sequences=True))
model.add(Dropout(0.2))
model.add(LSTM(units=50))
model.add(Dropout(0.2))
model.add(Dense(units=1))
model.compile(optimizer='adam',loss='mean_squared_error')
model.fit(X_train_scaled,y_train_scaled,epochs=30,batch_size=68)

Epoch 1/30
19/19 [==============================] - 7s 75ms/step - loss: 0.1092
Epoch 2/30
19/19 [==============================] - 1s 74ms/step - loss: 0.0680
Epoch 3/30
19/19 [==============================] - 1s 75ms/step - loss: 0.0345
Epoch 4/30
19/19 [==============================] - 1s 75ms/step - loss: 0.0217
Epoch 5/30
19/19 [==============================] - 1s 74ms/step - loss: 0.0158
Epoch 6/30
19/19 [==============================] - 1s 74ms/step - loss: 0.0148
Epoch 7/30
19/19 [==============================] - 1s 75ms/step - loss: 0.0131
Epoch 8/30
19/19 [==============================] - 1s 75ms/step - loss: 0.0121
Epoch 9/30
19/19 [==============================] - 1s 76ms/step - loss: 0.0104
Epoch 10/30
19/19 [==============================] - 1s 76ms/step - loss: 0.0089
Epoch 11/30
19/19 [==============================] - 1s 74ms/step - loss: 0.0079
Epoch 12/30
19/19 [==============================] - 1s 75ms/step - loss: 0.0076
Epoch 13/30
19/19 [==============================] - 2s 80ms/step - loss: 0.0065
Epoch 14/30
19/19 [==============================] - 2s 82ms/step - loss: 0.0060
Epoch 15/30
19/19 [==============================] - 1s 78ms/step - loss: 0.0065
Epoch 16/30
19/19 [==============================] - 2s 79ms/step - loss: 0.0058
Epoch 17/30
19/19 [==============================] - 1s 78ms/step - loss: 0.0056
Epoch 18/30
19/19 [==============================] - 2s 79ms/step - loss: 0.0058
Epoch 19/30
19/19 [==============================] - 2s 83ms/step - loss: 0.0057
Epoch 20/30
19/19 [==============================] - 1s 78ms/step - loss: 0.0052
Epoch 21/30
19/19 [==============================] - 1s 77ms/step - loss: 0.0050
Epoch 22/30
19/19 [==============================] - 1s 78ms/step - loss: 0.0048
Epoch 23/30
19/19 [==============================] - 1s 78ms/step - loss: 0.0044
Epoch 24/30
19/19 [==============================] - 1s 78ms/step - loss: 0.0049
Epoch 25/30
19/19 [==============================] - 1s 78ms/step - loss: 0.0048
Epoch 26/30
19/19 [==============================] - 1s 78ms/step - loss: 0.0041
Epoch 27/30
19/19 [==============================] - 2s 81ms/step - loss: 0.0041
Epoch 28/30
19/19 [==============================] - 2s 86ms/step - loss: 0.0042
Epoch 29/30
19/19 [==============================] - 2s 80ms/step - loss: 0.0044
Epoch 30/30
19/19 [==============================] - 2s 79ms/step - loss: 0.0037

In [212]:
predicted_stock_price = model.predict(X_test_scaled)
predicted_stock_price = sc.inverse_transform(predicted_stock_price)

2/2 [==============================] - 1s 9ms/step

ValueError: non-broadcastable output operand with shape (41,1) doesn't match the broadcast shape (41,9)

In [162]:
print(predicted_stock_price)

AttributeError: 'numpy.ndarray' object has no attribute 'len'